body {
  background-color: rgb(24, 26, 27);
}

.container {
  height: 100%;
  width: 1140px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper {
  text-align: center;
}

.timer {
  color: #c3e0e5;
  user-select: none;
  height: 30rem;
}

.timer-component {
  font-size: 29rem;
}

.specifier {
  font-size: 4rem;
}

.button {
  margin-top: 4rem;
  color: #c3e0e5;
  border: none;
  background-color: #41729f;
}
